#cent 
{
    text-align: center;
    vertical-align:middle;
}

#header {
    position: absolute;
    width: 1852px;
    height: 360px;
    left: 0px;
    top: 0px;
    background: #C7F3F1;
    background: black;
    background-image: url(Frame1.png);
}

#headerenter {
    position: absolute;
    width: 388px;
    height: 64px;
    left: 1460px;
    top: 278px;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 58px;
    text-decoration-line: underline;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.56);
}

#menu {
    position: absolute;
    width: 1840px;
    height: 147px;
    top: 0px;
   
}

#men1 {
    position: absolute;
    width: 460px;
    height: 147px;
    left: 0px;
    top: 360px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border: 6px solid #C7F3F1;

    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
}
#men2 {
    position: absolute;
    width: 460px;
    height: 147px;
    left: 460px;
    top: 360px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border: 6px solid #C7F3F1;
    font-family: Noto Sans SC;
    text-decoration-line: underline;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
}
#men3 {
    position: absolute;
    width: 460px;
    height: 147px;
    left: 920px;
    top: 360px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border: 6px solid #C7F3F1;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
}
#men4 {
    position: absolute;
    width: 460px;
    height: 147px;
    left: 1380px;
    top: 360px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border: 6px solid #C7F3F1;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
}
#content {
    position: absolute;
    width: 1840px;
    height: 1769px;
    left: 0px;
    top: 527px;
    background-image: url(Frame3.png);
}
#content1 {
    position: absolute;
    width: 234px;
    height: 95px;
    left: 392px;
    top: 1533px;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    text-decoration-line: underline;
}

#content2 {
    position: absolute;
    width: 365px;
    height: 95px;
    left: 1140px;
    top: 1527px;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    text-decoration-line: underline;
}
#footer {
    position: absolute;
    width: 1840px;
    height: 282px;
    left: 0px;
    top: 2276px;
    background: #494949;
}

#footer1 {
    position: absolute;
    width: 554px;
    height: 65px;
    left: 670px;
    top: 217px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #F9F9F9;
}

#footer2 {
    position: absolute;
    width: 834px;
    height: 69px;
    left: 64px;
    top: 72px;
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #F9F9F9;
}
